---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="T. Evans"
	pubDate={new Date('June 08 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Hello, I'm Tim.
		Architect
		ARB RIBA BA(Hons) M.Arch PG(dip)
	</p>

	<p>
		I specialise in residential architectural design from concept to completion. With many successful projects 
		build across London and the South East, I have the experience to deliver exciting projects using
		photorealistic rendering to design projects up front. Saving costly changes during construction.
	</p>

</Layout>
