---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to ArchViz.co.uk</h1>
			<p>
				We are currently building something exciting at <a href="https://archviz.co.uk/">ArchViz</a>
				If you're looking for photorealistic architectural renderings you have come to the right place!
				Our website is currently updating to showcase exciting new projects and technology.
			</p>
			<p>
				Whilst we are updating our CGI platform, you can get a quote and see our work at
				<a href="https://tpevans.co.uk">TP Evans Architects</a> <a href="https://tpevans.co.uk">tpevans.co.uk</a>
			</p>
		</main>
		<Footer />
	</body>
</html>
